<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @lancamento.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @lancamento.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @lancamento.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @lancamento.data %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @lancamento.categoria %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @lancamento.tipo %>
</p>

<%= link_to 'Edit', edit_lancamento_path(@lancamento) %> |
<%= link_to 'Back', lancamentos_path %>
