<%= form_with(model: tipo, local: true) do |form| %>
  <% if tipo.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(tipo.errors.count, "error") %> prohibited this contum from being saved:</h2>

    <ul>
    <% v.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="col-form-label mb-2" for="descricaoField"><%= t('model.tipo.titulo') %></label>
    </div>
    <div class="col-auto">
      <%= form.text_field :descricao, :class => "form-control mb-2", 'autofocus'=>"autofocus", :id => "descricaoField", :placeholder => t('label.descricao') %>
    </div>
    <div class="col-auto">
      <%= form.submit t('label.incluir'), :class => "btn btn-primary mb-2" %>
    </div>
  </div>
<% end %>
