<div class="container-fluid">
  <div class="container-fluid row">
    <h1><%= @titulo %></h1>
  </div>
  <div class='container-fluid row'>
    <div class="card w-100">
      <div class="card-header">
        <%= render 'form', tipo: @tipo %>
      </div>
      <div class="card-body">
        <div class='container-fluid row'>
        <table class="table table-sm table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col" class="text-center col-md-1"><%= t('label.cod') %></th>
              <th scope="col" class="text-center"><%= t('label.descricao') %></th>
              <th scope="col" class="text-center col-md-1"><%= t('label.acao') %></th>
            </tr>
          </thead>
          <tbody>
            <% @tipos.each do |tipo| %>
              <tr>
                <th class="align-middle text-center" scope="row"><%= tipo.id %></th>
                <td class="align-middle"><%= tipo.descricao %></td>
                <td class="my-0 text-center align-middle">
                  <%= link_to tipo, class: 'btn btn-outline-primary btn-sm' do %><i class="material-icons my-0">search</i><% end %>
                  <%= link_to edit_tipo_path(tipo), class: 'btn btn-outline-warning btn-sm' do %><i class="material-icons my-0">create</i><% end %>
                  <%= link_to tipo, method: :delete, class: 'btn btn-outline-danger btn-sm', data: { confirm: t('msg.confirm') }  do %><i class="material-icons my-0">clear</i><% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="mx-auto">
          <%= will_paginate @tipos %>    
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
