<div class="container-fluid">
  <div class="container-fluid row">
    <h1><%= @titulo %></h1>
  </div>
  <%= form_tag conta_painel_index_path, method: :get, :id => 'selectConta' do %>
    <div class="form-group">
    <%= select_tag :conta, options_from_collection_for_select(Conta.all.collect, "id", "nome", params[:conta]),
                   :onchange => ("javascript: document.forms['selectConta'].submit()"),
                   :class => "form-control" %>
    </div>
  <% end %>
  <div class='container-fluid'>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <% for i in 1..12 %>
          <%= link_to conta_painel_index_path(:month => i, :conta => params[:conta]), 
                      {class: 'nav-item nav-link '+(i.to_s == params[:month] ? 'active' : ''),
                      :remote => true } do %>
            <%= "#{i} - #{Date::MONTHNAMES[i]}"%>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
    <% for i in 1..12 %>
      <div class="tab-pane fade show <%= (i.to_s == params[:month] ? 'active' : '') %>" 
           id="<%= "month#{i}" %>" role="tabpanel" aria-labelledby="<%= "month#{i}-tab" %>"><%= "month#{i}" %></div>
    <% end %>
    </div>
  </div>  
</div>

<% '''
,
                      id: "month#{i}-tab",
                      role: "tab",
                      "data-toggle": "tab",
                      "aria-controls": "month#{i}",
                      "aria-selected": "#{i.to_s == params[:month]}"
                      
                      ''' %>